extends layout

block content
  h1= title

  ol
    each author in author_list
      li
        a(href=author.url) #{author.name}
        //- |  (#{author.date_of_birth} - #{author.date_of_death})
        |  (#{author.life_span_formated})

    else
      li There are no authors.
